@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/4.0.0/material-icons-outlined.eot");
  src: url("../fonts/4.0.0/material-icons-outlined.eot#iefix") format("embedded-opentype"), url("../fonts/4.0.0/material-icons-outlined.woff2") format("woff2"), url("../fonts/4.0.0/material-icons-outlined.woff") format("woff"), url("../fonts/4.0.0/material-icons-outlined.otf") format("opentype"); }
