@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/4.0.0/material-icons-two-tone.eot");
  src: url("../fonts/4.0.0/material-icons-two-tone.eot#iefix") format("embedded-opentype"), url("../fonts/4.0.0/material-icons-two-tone.woff2") format("woff2"), url("../fonts/4.0.0/material-icons-two-tone.woff") format("woff"), url("../fonts/4.0.0/material-icons-two-tone.otf") format("opentype"); }
