/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'Material Icons';
    src: url('#{$mi-font-path}/MaterialIcons-Regular.eot');
    src: url('#{$mi-font-path}/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$mi-font-path}/MaterialIcons-Regular.woff2') format('woff2'),
    url('#{$mi-font-path}/MaterialIcons-Regular.woff') format('woff'),
    url('#{$mi-font-path}/MaterialIcons-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}