// Variables
// --------------------------

$md-version:          "4.0.0" !default;
$md-font-path:        "../fonts/#{$md-version}" !default;
$md-font-size:        14px !default;
$md-prefix:           mdi !default;
$md-border-color:     #eee !default;
$md-inverse:          #fff !default;
$md-li-width:         (30em / 14) !default;
