// Variables
// --------------------------

$mi-font-path:        "../fonts" !default;
$mi-font-size-base:   14px !default;
$mi-css-prefix:       mi !default;
$mi-border-color:     #eee !default;
$mi-inverse:          #fff !default;
$mi-li-width:         (30em / 14) !default;
