$mi-prefix : mi;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.eot');
    src: url('../fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}


.#{$mi-prefix}, .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    word-wrap: normal;
    top: 1px;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}

.material-icons {
    width: 1em;
    height: 1em;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


.#{$mi-prefix}-3d-rotation:before {
    content: "\e84d";
}
.#{$mi-prefix}-access-alarm:before {
    content: "\e190";
}
.#{$mi-prefix}-access-alarms:before {
    content: "\e191";
}
.#{$mi-prefix}-access-time:before {
    content: "\e192";
}
.#{$mi-prefix}-accessibility:before {
    content: "\e84e";
}
.#{$mi-prefix}-account-balance:before {
    content: "\e84f";
}
.#{$mi-prefix}-account-balance-wallet:before {
    content: "\e850";
}
.#{$mi-prefix}-account-box:before {
    content: "\e851";
}
.#{$mi-prefix}-account-circle:before {
    content: "\e853";
}
.#{$mi-prefix}-adb:before {
    content: "\e60e";
}
.#{$mi-prefix}-add:before {
    content: "\e145";
}
.#{$mi-prefix}-add-alarm:before {
    content: "\e193";
}
.#{$mi-prefix}-add-alert:before {
    content: "\e003";
}
.#{$mi-prefix}-add-box:before {
    content: "\e146";
}
.#{$mi-prefix}-add-circle:before {
    content: "\e147";
}
.#{$mi-prefix}-add-circle-outline:before {
    content: "\e148";
}
.#{$mi-prefix}-add-shopping-cart:before {
    content: "\e854";
}
.#{$mi-prefix}-add-to-photos:before {
    content: "\e39d";
}
.#{$mi-prefix}-adjust:before {
    content: "\e39e";
}
.#{$mi-prefix}-airline-seat-flat:before {
    content: "\e630";
}
.#{$mi-prefix}-airline-seat-flat-angled:before {
    content: "\e631";
}
.#{$mi-prefix}-airline-seat-individual-suite:before {
    content: "\e632";
}
.#{$mi-prefix}-airline-seat-legroom-extra:before {
    content: "\e633";
}
.#{$mi-prefix}-airline-seat-legroom-normal:before {
    content: "\e634";
}
.#{$mi-prefix}-airline-seat-legroom-reduced:before {
    content: "\e635";
}
.#{$mi-prefix}-airline-seat-recline-extra:before {
    content: "\e636";
}
.#{$mi-prefix}-airline-seat-recline-normal:before {
    content: "\e637";
}
.#{$mi-prefix}-airplanemode-active:before {
    content: "\e195";
}
.#{$mi-prefix}-airplanemode-inactive:before {
    content: "\e194";
}
.#{$mi-prefix}-airplay:before {
    content: "\e055";
}
.#{$mi-prefix}-alarm:before {
    content: "\e855";
}
.#{$mi-prefix}-alarm-add:before {
    content: "\e856";
}
.#{$mi-prefix}-alarm-off:before {
    content: "\e857";
}
.#{$mi-prefix}-alarm-on:before {
    content: "\e858";
}
.#{$mi-prefix}-album:before {
    content: "\e019";
}
.#{$mi-prefix}-android:before {
    content: "\e859";
}
.#{$mi-prefix}-announcement:before {
    content: "\e85a";
}
.#{$mi-prefix}-apps:before {
    content: "\e5c3";
}
.#{$mi-prefix}-archive:before {
    content: "\e149";
}
.#{$mi-prefix}-arrow-back:before {
    content: "\e5c4";
}
.#{$mi-prefix}-arrow-drop-down:before {
    content: "\e5c5";
}
.#{$mi-prefix}-arrow-drop-down-circle:before {
    content: "\e5c6";
}
.#{$mi-prefix}-arrow-drop-up:before {
    content: "\e5c7";
}
.#{$mi-prefix}-arrow-forward:before {
    content: "\e5c8";
}
.#{$mi-prefix}-aspect-ratio:before {
    content: "\e85b";
}
.#{$mi-prefix}-assessment:before {
    content: "\e85c";
}
.#{$mi-prefix}-assignment:before {
    content: "\e85d";
}
.#{$mi-prefix}-assignment-ind:before {
    content: "\e85e";
}
.#{$mi-prefix}-assignment-late:before {
    content: "\e85f";
}
.#{$mi-prefix}-assignment-return:before {
    content: "\e860";
}
.#{$mi-prefix}-assignment-returned:before {
    content: "\e861";
}
.#{$mi-prefix}-assignment-turned-in:before {
    content: "\e862";
}
.#{$mi-prefix}-assistant:before {
    content: "\e39f";
}
.#{$mi-prefix}-assistant-photo:before {
    content: "\e3a0";
}
.#{$mi-prefix}-attach-file:before {
    content: "\e226";
}
.#{$mi-prefix}-attach-money:before {
    content: "\e227";
}
.#{$mi-prefix}-attachment:before {
    content: "\e2bc";
}
.#{$mi-prefix}-audiotrack:before {
    content: "\e3a1";
}
.#{$mi-prefix}-autorenew:before {
    content: "\e863";
}
.#{$mi-prefix}-av-timer:before {
    content: "\e01b";
}
.#{$mi-prefix}-backspace:before {
    content: "\e14a";
}
.#{$mi-prefix}-backup:before {
    content: "\e864";
}
.#{$mi-prefix}-battery-alert:before {
    content: "\e19c";
}
.#{$mi-prefix}-battery-charging-full:before {
    content: "\e1a3";
}
.#{$mi-prefix}-battery-full:before {
    content: "\e1a4";
}
.#{$mi-prefix}-battery-std:before {
    content: "\e1a5";
}
.#{$mi-prefix}-battery-unknown:before {
    content: "\e1a6";
}
.#{$mi-prefix}-beenhere:before {
    content: "\e52d";
}
.#{$mi-prefix}-block:before {
    content: "\e14b";
}
.#{$mi-prefix}-bluetooth:before {
    content: "\e1a7";
}
.#{$mi-prefix}-bluetooth-audio:before {
    content: "\e60f";
}
.#{$mi-prefix}-bluetooth-connected:before {
    content: "\e1a8";
}
.#{$mi-prefix}-bluetooth-disabled:before {
    content: "\e1a9";
}
.#{$mi-prefix}-bluetooth-searching:before {
    content: "\e1aa";
}
.#{$mi-prefix}-blur-circular:before {
    content: "\e3a2";
}
.#{$mi-prefix}-blur-linear:before {
    content: "\e3a3";
}
.#{$mi-prefix}-blur-off:before {
    content: "\e3a4";
}
.#{$mi-prefix}-blur-on:before {
    content: "\e3a5";
}
.#{$mi-prefix}-book:before {
    content: "\e865";
}
.#{$mi-prefix}-bookmark:before {
    content: "\e866";
}
.#{$mi-prefix}-bookmark-border:before {
    content: "\e867";
}
.#{$mi-prefix}-border-all:before {
    content: "\e228";
}
.#{$mi-prefix}-border-bottom:before {
    content: "\e229";
}
.#{$mi-prefix}-border-clear:before {
    content: "\e22a";
}
.#{$mi-prefix}-border-color:before {
    content: "\e22b";
}
.#{$mi-prefix}-border-horizontal:before {
    content: "\e22c";
}
.#{$mi-prefix}-border-inner:before {
    content: "\e22d";
}
.#{$mi-prefix}-border-left:before {
    content: "\e22e";
}
.#{$mi-prefix}-border-outer:before {
    content: "\e22f";
}
.#{$mi-prefix}-border-right:before {
    content: "\e230";
}
.#{$mi-prefix}-border-style:before {
    content: "\e231";
}
.#{$mi-prefix}-border-top:before {
    content: "\e232";
}
.#{$mi-prefix}-border-vertical:before {
    content: "\e233";
}
.#{$mi-prefix}-brightness-1:before {
    content: "\e3a6";
}
.#{$mi-prefix}-brightness-2:before {
    content: "\e3a7";
}
.#{$mi-prefix}-brightness-3:before {
    content: "\e3a8";
}
.#{$mi-prefix}-brightness-4:before {
    content: "\e3a9";
}
.#{$mi-prefix}-brightness-5:before {
    content: "\e3aa";
}
.#{$mi-prefix}-brightness-6:before {
    content: "\e3ab";
}
.#{$mi-prefix}-brightness-7:before {
    content: "\e3ac";
}
.#{$mi-prefix}-brightness-auto:before {
    content: "\e1ab";
}
.#{$mi-prefix}-brightness-high:before {
    content: "\e1ac";
}
.#{$mi-prefix}-brightness-low:before {
    content: "\e1ad";
}
.#{$mi-prefix}-brightness-medium:before {
    content: "\e1ae";
}
.#{$mi-prefix}-broken-image:before {
    content: "\e3ad";
}
.#{$mi-prefix}-brush:before {
    content: "\e3ae";
}
.#{$mi-prefix}-bug-report:before {
    content: "\e868";
}
.#{$mi-prefix}-build:before {
    content: "\e869";
}
.#{$mi-prefix}-business:before {
    content: "\e0af";
}
.#{$mi-prefix}-cached:before {
    content: "\e86a";
}
.#{$mi-prefix}-cake:before {
    content: "\e7e9";
}
.#{$mi-prefix}-call:before {
    content: "\e0b0";
}
.#{$mi-prefix}-call-end:before {
    content: "\e0b1";
}
.#{$mi-prefix}-call-made:before {
    content: "\e0b2";
}
.#{$mi-prefix}-call-merge:before {
    content: "\e0b3";
}
.#{$mi-prefix}-call-missed:before {
    content: "\e0b4";
}
.#{$mi-prefix}-call-received:before {
    content: "\e0b5";
}
.#{$mi-prefix}-call-split:before {
    content: "\e0b6";
}
.#{$mi-prefix}-camera:before {
    content: "\e3af";
}
.#{$mi-prefix}-camera-alt:before {
    content: "\e3b0";
}
.#{$mi-prefix}-camera-enhance:before {
    content: "\e8fc";
}
.#{$mi-prefix}-camera-front:before {
    content: "\e3b1";
}
.#{$mi-prefix}-camera-rear:before {
    content: "\e3b2";
}
.#{$mi-prefix}-camera-roll:before {
    content: "\e3b3";
}
.#{$mi-prefix}-cancel:before {
    content: "\e5c9";
}
.#{$mi-prefix}-card-giftcard:before {
    content: "\e8f6";
}
.#{$mi-prefix}-card-membership:before {
    content: "\e8f7";
}
.#{$mi-prefix}-card-travel:before {
    content: "\e8f8";
}
.#{$mi-prefix}-cast:before {
    content: "\e307";
}
.#{$mi-prefix}-cast-connected:before {
    content: "\e308";
}
.#{$mi-prefix}-center-focus-strong:before {
    content: "\e3b4";
}
.#{$mi-prefix}-center-focus-weak:before {
    content: "\e3b5";
}
.#{$mi-prefix}-change-history:before {
    content: "\e86b";
}
.#{$mi-prefix}-chat:before {
    content: "\e0b7";
}
.#{$mi-prefix}-chat-bubble:before {
    content: "\e0ca";
}
.#{$mi-prefix}-chat-bubble-outline:before {
    content: "\e0cb";
}
.#{$mi-prefix}-check:before {
    content: "\e5ca";
}
.#{$mi-prefix}-check-box:before {
    content: "\e834";
}
.#{$mi-prefix}-check-box-outline-blank:before {
    content: "\e835";
}
.#{$mi-prefix}-check-circle:before {
    content: "\e86c";
}
.#{$mi-prefix}-chevron-left:before {
    content: "\e5cb";
}
.#{$mi-prefix}-chevron-right:before {
    content: "\e5cc";
}
.#{$mi-prefix}-chrome-reader-mode:before {
    content: "\e86d";
}
.#{$mi-prefix}-class:before {
    content: "\e86e";
}
.#{$mi-prefix}-clear:before {
    content: "\e14c";
}
.#{$mi-prefix}-clear-all:before {
    content: "\e0b8";
}
.#{$mi-prefix}-close:before {
    content: "\e5cd";
}
.#{$mi-prefix}-closed-caption:before {
    content: "\e01c";
}
.#{$mi-prefix}-cloud:before {
    content: "\e2bd";
}
.#{$mi-prefix}-cloud-circle:before {
    content: "\e2be";
}
.#{$mi-prefix}-cloud-done:before {
    content: "\e2bf";
}
.#{$mi-prefix}-cloud-download:before {
    content: "\e2c0";
}
.#{$mi-prefix}-cloud-off:before {
    content: "\e2c1";
}
.#{$mi-prefix}-cloud-queue:before {
    content: "\e2c2";
}
.#{$mi-prefix}-cloud-upload:before {
    content: "\e2c3";
}
.#{$mi-prefix}-code:before {
    content: "\e86f";
}
.#{$mi-prefix}-collections:before {
    content: "\e3b6";
}
.#{$mi-prefix}-collections-bookmark:before {
    content: "\e431";
}
.#{$mi-prefix}-color-lens:before {
    content: "\e3b7";
}
.#{$mi-prefix}-colorize:before {
    content: "\e3b8";
}
.#{$mi-prefix}-comment:before {
    content: "\e0b9";
}
.#{$mi-prefix}-compare:before {
    content: "\e3b9";
}
.#{$mi-prefix}-computer:before {
    content: "\e30a";
}
.#{$mi-prefix}-confirmation-number:before {
    content: "\e638";
}
.#{$mi-prefix}-contact-phone:before {
    content: "\e0cf";
}
.#{$mi-prefix}-contacts:before {
    content: "\e0ba";
}
.#{$mi-prefix}-content-copy:before {
    content: "\e14d";
}
.#{$mi-prefix}-content-cut:before {
    content: "\e14e";
}
.#{$mi-prefix}-content-paste:before {
    content: "\e14f";
}
.#{$mi-prefix}-control-point:before {
    content: "\e3ba";
}
.#{$mi-prefix}-control-point-duplicate:before {
    content: "\e3bb";
}
.#{$mi-prefix}-create:before {
    content: "\e150";
}
.#{$mi-prefix}-credit-card:before {
    content: "\e870";
}
.#{$mi-prefix}-crop:before {
    content: "\e3be";
}
.#{$mi-prefix}-crop-16-9:before {
    content: "\e3bc";
}
.#{$mi-prefix}-crop-3-2:before {
    content: "\e3bd";
}
.#{$mi-prefix}-crop-5-4:before {
    content: "\e3bf";
}
.#{$mi-prefix}-crop-7-5:before {
    content: "\e3c0";
}
.#{$mi-prefix}-crop-din:before {
    content: "\e3c1";
}
.#{$mi-prefix}-crop-free:before {
    content: "\e3c2";
}
.#{$mi-prefix}-crop-landscape:before {
    content: "\e3c3";
}
.#{$mi-prefix}-crop-original:before {
    content: "\e3c4";
}
.#{$mi-prefix}-crop-portrait:before {
    content: "\e3c5";
}
.#{$mi-prefix}-crop-square:before {
    content: "\e3c6";
}
.#{$mi-prefix}-dashboard:before {
    content: "\e871";
}
.#{$mi-prefix}-data-usage:before {
    content: "\e1af";
}
.#{$mi-prefix}-dehaze:before {
    content: "\e3c7";
}
.#{$mi-prefix}-delete:before {
    content: "\e872";
}
.#{$mi-prefix}-description:before {
    content: "\e873";
}
.#{$mi-prefix}-desktop-mac:before {
    content: "\e30b";
}
.#{$mi-prefix}-desktop-windows:before {
    content: "\e30c";
}
.#{$mi-prefix}-details:before {
    content: "\e3c8";
}
.#{$mi-prefix}-developer-board:before {
    content: "\e30d";
}
.#{$mi-prefix}-developer-mode:before {
    content: "\e1b0";
}
.#{$mi-prefix}-device-hub:before {
    content: "\e335";
}
.#{$mi-prefix}-devices:before {
    content: "\e1b1";
}
.#{$mi-prefix}-dialer-sip:before {
    content: "\e0bb";
}
.#{$mi-prefix}-dialpad:before {
    content: "\e0bc";
}
.#{$mi-prefix}-directions:before {
    content: "\e52e";
}
.#{$mi-prefix}-directions-bike:before {
    content: "\e52f";
}
.#{$mi-prefix}-directions-boat:before {
    content: "\e532";
}
.#{$mi-prefix}-directions-bus:before {
    content: "\e530";
}
.#{$mi-prefix}-directions-car:before {
    content: "\e531";
}
.#{$mi-prefix}-directions-railway:before {
    content: "\e534";
}
.#{$mi-prefix}-directions-run:before {
    content: "\e566";
}
.#{$mi-prefix}-directions-subway:before {
    content: "\e533";
}
.#{$mi-prefix}-directions-transit:before {
    content: "\e535";
}
.#{$mi-prefix}-directions-walk:before {
    content: "\e536";
}
.#{$mi-prefix}-disc-full:before {
    content: "\e610";
}
.#{$mi-prefix}-dns:before {
    content: "\e875";
}
.#{$mi-prefix}-do-not-disturb:before {
    content: "\e612";
}
.#{$mi-prefix}-do-not-disturb-alt:before {
    content: "\e611";
}
.#{$mi-prefix}-dock:before {
    content: "\e30e";
}
.#{$mi-prefix}-domain:before {
    content: "\e7ee";
}
.#{$mi-prefix}-done:before {
    content: "\e876";
}
.#{$mi-prefix}-done-all:before {
    content: "\e877";
}
.#{$mi-prefix}-drafts:before {
    content: "\e151";
}
.#{$mi-prefix}-drive-eta:before {
    content: "\e613";
}
.#{$mi-prefix}-dvr:before {
    content: "\e1b2";
}
.#{$mi-prefix}-edit:before {
    content: "\e3c9";
}
.#{$mi-prefix}-eject:before {
    content: "\e8fb";
}
.#{$mi-prefix}-email:before {
    content: "\e0be";
}
.#{$mi-prefix}-equalizer:before {
    content: "\e01d";
}
.#{$mi-prefix}-error:before {
    content: "\e000";
}
.#{$mi-prefix}-error-outline:before {
    content: "\e001";
}
.#{$mi-prefix}-event:before {
    content: "\e878";
}
.#{$mi-prefix}-event-available:before {
    content: "\e614";
}
.#{$mi-prefix}-event-busy:before {
    content: "\e615";
}
.#{$mi-prefix}-event-note:before {
    content: "\e616";
}
.#{$mi-prefix}-event-seat:before {
    content: "\e903";
}
.#{$mi-prefix}-exit-to-app:before {
    content: "\e879";
}
.#{$mi-prefix}-expand-less:before {
    content: "\e5ce";
}
.#{$mi-prefix}-expand-more:before {
    content: "\e5cf";
}
.#{$mi-prefix}-explicit:before {
    content: "\e01e";
}
.#{$mi-prefix}-explore:before {
    content: "\e87a";
}
.#{$mi-prefix}-exposure:before {
    content: "\e3ca";
}
.#{$mi-prefix}-exposure-neg-1:before {
    content: "\e3cb";
}
.#{$mi-prefix}-exposure-neg-2:before {
    content: "\e3cc";
}
.#{$mi-prefix}-exposure-plus-1:before {
    content: "\e3cd";
}
.#{$mi-prefix}-exposure-plus-2:before {
    content: "\e3ce";
}
.#{$mi-prefix}-exposure-zero:before {
    content: "\e3cf";
}
.#{$mi-prefix}-extension:before {
    content: "\e87b";
}
.#{$mi-prefix}-face:before {
    content: "\e87c";
}
.#{$mi-prefix}-fast-forward:before {
    content: "\e01f";
}
.#{$mi-prefix}-fast-rewind:before {
    content: "\e020";
}
.#{$mi-prefix}-favorite:before {
    content: "\e87d";
}
.#{$mi-prefix}-favorite-border:before {
    content: "\e87e";
}
.#{$mi-prefix}-feedback:before {
    content: "\e87f";
}
.#{$mi-prefix}-file-download:before {
    content: "\e2c4";
}
.#{$mi-prefix}-file-upload:before {
    content: "\e2c6";
}
.#{$mi-prefix}-filter:before {
    content: "\e3d3";
}
.#{$mi-prefix}-filter-1:before {
    content: "\e3d0";
}
.#{$mi-prefix}-filter-2:before {
    content: "\e3d1";
}
.#{$mi-prefix}-filter-3:before {
    content: "\e3d2";
}
.#{$mi-prefix}-filter-4:before {
    content: "\e3d4";
}
.#{$mi-prefix}-filter-5:before {
    content: "\e3d5";
}
.#{$mi-prefix}-filter-6:before {
    content: "\e3d6";
}
.#{$mi-prefix}-filter-7:before {
    content: "\e3d7";
}
.#{$mi-prefix}-filter-8:before {
    content: "\e3d8";
}
.#{$mi-prefix}-filter-9:before {
    content: "\e3d9";
}
.#{$mi-prefix}-filter-9-plus:before {
    content: "\e3da";
}
.#{$mi-prefix}-filter-b-and-w:before {
    content: "\e3db";
}
.#{$mi-prefix}-filter-center-focus:before {
    content: "\e3dc";
}
.#{$mi-prefix}-filter-drama:before {
    content: "\e3dd";
}
.#{$mi-prefix}-filter-frames:before {
    content: "\e3de";
}
.#{$mi-prefix}-filter-hdr:before {
    content: "\e3df";
}
.#{$mi-prefix}-filter-list:before {
    content: "\e152";
}
.#{$mi-prefix}-filter-none:before {
    content: "\e3e0";
}
.#{$mi-prefix}-filter-tilt-shift:before {
    content: "\e3e2";
}
.#{$mi-prefix}-filter-vintage:before {
    content: "\e3e3";
}
.#{$mi-prefix}-find-in-page:before {
    content: "\e880";
}
.#{$mi-prefix}-find-replace:before {
    content: "\e881";
}
.#{$mi-prefix}-flag:before {
    content: "\e153";
}
.#{$mi-prefix}-flare:before {
    content: "\e3e4";
}
.#{$mi-prefix}-flash-auto:before {
    content: "\e3e5";
}
.#{$mi-prefix}-flash-off:before {
    content: "\e3e6";
}
.#{$mi-prefix}-flash-on:before {
    content: "\e3e7";
}
.#{$mi-prefix}-flight:before {
    content: "\e539";
}
.#{$mi-prefix}-flight-land:before {
    content: "\e904";
}
.#{$mi-prefix}-flight-takeoff:before {
    content: "\e905";
}
.#{$mi-prefix}-flip:before {
    content: "\e3e8";
}
.#{$mi-prefix}-flip-to-back:before {
    content: "\e882";
}
.#{$mi-prefix}-flip-to-front:before {
    content: "\e883";
}
.#{$mi-prefix}-folder:before {
    content: "\e2c7";
}
.#{$mi-prefix}-folder-open:before {
    content: "\e2c8";
}
.#{$mi-prefix}-folder-shared:before {
    content: "\e2c9";
}
.#{$mi-prefix}-folder-special:before {
    content: "\e617";
}
.#{$mi-prefix}-font-download:before {
    content: "\e167";
}
.#{$mi-prefix}-format-align-center:before {
    content: "\e234";
}
.#{$mi-prefix}-format-align-justify:before {
    content: "\e235";
}
.#{$mi-prefix}-format-align-left:before {
    content: "\e236";
}
.#{$mi-prefix}-format-align-right:before {
    content: "\e237";
}
.#{$mi-prefix}-format-bold:before {
    content: "\e238";
}
.#{$mi-prefix}-format-clear:before {
    content: "\e239";
}
.#{$mi-prefix}-format-color-fill:before {
    content: "\e23a";
}
.#{$mi-prefix}-format-color-reset:before {
    content: "\e23b";
}
.#{$mi-prefix}-format-color-text:before {
    content: "\e23c";
}
.#{$mi-prefix}-format-indent-decrease:before {
    content: "\e23d";
}
.#{$mi-prefix}-format-indent-increase:before {
    content: "\e23e";
}
.#{$mi-prefix}-format-italic:before {
    content: "\e23f";
}
.#{$mi-prefix}-format-line-spacing:before {
    content: "\e240";
}
.#{$mi-prefix}-format-list-bulleted:before {
    content: "\e241";
}
.#{$mi-prefix}-format-list-numbered:before {
    content: "\e242";
}
.#{$mi-prefix}-format-paint:before {
    content: "\e243";
}
.#{$mi-prefix}-format-quote:before {
    content: "\e244";
}
.#{$mi-prefix}-format-size:before {
    content: "\e245";
}
.#{$mi-prefix}-format-strikethrough:before {
    content: "\e246";
}
.#{$mi-prefix}-format-textdirection-l-to-r:before {
    content: "\e247";
}
.#{$mi-prefix}-format-textdirection-r-to-l:before {
    content: "\e248";
}
.#{$mi-prefix}-format-underlined:before {
    content: "\e249";
}
.#{$mi-prefix}-forum:before {
    content: "\e0bf";
}
.#{$mi-prefix}-forward:before {
    content: "\e154";
}
.#{$mi-prefix}-forward-10:before {
    content: "\e056";
}
.#{$mi-prefix}-forward-30:before {
    content: "\e057";
}
.#{$mi-prefix}-forward-5:before {
    content: "\e058";
}
.#{$mi-prefix}-fullscreen:before {
    content: "\e5d0";
}
.#{$mi-prefix}-fullscreen-exit:before {
    content: "\e5d1";
}
.#{$mi-prefix}-functions:before {
    content: "\e24a";
}
.#{$mi-prefix}-gamepad:before {
    content: "\e30f";
}
.#{$mi-prefix}-games:before {
    content: "\e021";
}
.#{$mi-prefix}-gesture:before {
    content: "\e155";
}
.#{$mi-prefix}-get-app:before {
    content: "\e884";
}
.#{$mi-prefix}-gif:before {
    content: "\e908";
}
.#{$mi-prefix}-gps-fixed:before {
    content: "\e1b3";
}
.#{$mi-prefix}-gps-not-fixed:before {
    content: "\e1b4";
}
.#{$mi-prefix}-gps-off:before {
    content: "\e1b5";
}
.#{$mi-prefix}-grade:before {
    content: "\e885";
}
.#{$mi-prefix}-gradient:before {
    content: "\e3e9";
}
.#{$mi-prefix}-grain:before {
    content: "\e3ea";
}
.#{$mi-prefix}-graphic-eq:before {
    content: "\e1b8";
}
.#{$mi-prefix}-grid-off:before {
    content: "\e3eb";
}
.#{$mi-prefix}-grid-on:before {
    content: "\e3ec";
}
.#{$mi-prefix}-group:before {
    content: "\e7ef";
}
.#{$mi-prefix}-group-add:before {
    content: "\e7f0";
}
.#{$mi-prefix}-group-work:before {
    content: "\e886";
}
.#{$mi-prefix}-hd:before {
    content: "\e052";
}
.#{$mi-prefix}-hdr-off:before {
    content: "\e3ed";
}
.#{$mi-prefix}-hdr-on:before {
    content: "\e3ee";
}
.#{$mi-prefix}-hdr-strong:before {
    content: "\e3f1";
}
.#{$mi-prefix}-hdr-weak:before {
    content: "\e3f2";
}
.#{$mi-prefix}-headset:before {
    content: "\e310";
}
.#{$mi-prefix}-headset-mic:before {
    content: "\e311";
}
.#{$mi-prefix}-healing:before {
    content: "\e3f3";
}
.#{$mi-prefix}-hearing:before {
    content: "\e023";
}
.#{$mi-prefix}-help:before {
    content: "\e887";
}
.#{$mi-prefix}-help-outline:before {
    content: "\e8fd";
}
.#{$mi-prefix}-high-quality:before {
    content: "\e024";
}
.#{$mi-prefix}-highlight-off:before {
    content: "\e888";
}
.#{$mi-prefix}-history:before {
    content: "\e889";
}
.#{$mi-prefix}-home:before {
    content: "\e88a";
}
.#{$mi-prefix}-hotel:before {
    content: "\e53a";
}
.#{$mi-prefix}-hourglass-empty:before {
    content: "\e88b";
}
.#{$mi-prefix}-hourglass-full:before {
    content: "\e88c";
}
.#{$mi-prefix}-http:before {
    content: "\e902";
}
.#{$mi-prefix}-https:before {
    content: "\e88d";
}
.#{$mi-prefix}-image:before {
    content: "\e3f4";
}
.#{$mi-prefix}-image-aspect-ratio:before {
    content: "\e3f5";
}
.#{$mi-prefix}-import-export:before {
    content: "\e0c3";
}
.#{$mi-prefix}-inbox:before {
    content: "\e156";
}
.#{$mi-prefix}-indeterminate-check-box:before {
    content: "\e909";
}
.#{$mi-prefix}-info:before {
    content: "\e88e";
}
.#{$mi-prefix}-info-outline:before {
    content: "\e88f";
}
.#{$mi-prefix}-input:before {
    content: "\e890";
}
.#{$mi-prefix}-insert-chart:before {
    content: "\e24b";
}
.#{$mi-prefix}-insert-comment:before {
    content: "\e24c";
}
.#{$mi-prefix}-insert-drive-file:before {
    content: "\e24d";
}
.#{$mi-prefix}-insert-emoticon:before {
    content: "\e24e";
}
.#{$mi-prefix}-insert-invitation:before {
    content: "\e24f";
}
.#{$mi-prefix}-insert-link:before {
    content: "\e250";
}
.#{$mi-prefix}-insert-photo:before {
    content: "\e251";
}
.#{$mi-prefix}-invert-colors:before {
    content: "\e891";
}
.#{$mi-prefix}-invert-colors-off:before {
    content: "\e0c4";
}
.#{$mi-prefix}-iso:before {
    content: "\e3f6";
}
.#{$mi-prefix}-keyboard:before {
    content: "\e312";
}
.#{$mi-prefix}-keyboard-arrow-down:before {
    content: "\e313";
}
.#{$mi-prefix}-keyboard-arrow-left:before {
    content: "\e314";
}
.#{$mi-prefix}-keyboard-arrow-right:before {
    content: "\e315";
}
.#{$mi-prefix}-keyboard-arrow-up:before {
    content: "\e316";
}
.#{$mi-prefix}-keyboard-backspace:before {
    content: "\e317";
}
.#{$mi-prefix}-keyboard-capslock:before {
    content: "\e318";
}
.#{$mi-prefix}-keyboard-hide:before {
    content: "\e31a";
}
.#{$mi-prefix}-keyboard-return:before {
    content: "\e31b";
}
.#{$mi-prefix}-keyboard-tab:before {
    content: "\e31c";
}
.#{$mi-prefix}-keyboard-voice:before {
    content: "\e31d";
}
.#{$mi-prefix}-label:before {
    content: "\e892";
}
.#{$mi-prefix}-label-outline:before {
    content: "\e893";
}
.#{$mi-prefix}-landscape:before {
    content: "\e3f7";
}
.#{$mi-prefix}-language:before {
    content: "\e894";
}
.#{$mi-prefix}-laptop:before {
    content: "\e31e";
}
.#{$mi-prefix}-laptop-chromebook:before {
    content: "\e31f";
}
.#{$mi-prefix}-laptop-mac:before {
    content: "\e320";
}
.#{$mi-prefix}-laptop-windows:before {
    content: "\e321";
}
.#{$mi-prefix}-launch:before {
    content: "\e895";
}
.#{$mi-prefix}-layers:before {
    content: "\e53b";
}
.#{$mi-prefix}-layers-clear:before {
    content: "\e53c";
}
.#{$mi-prefix}-leak-add:before {
    content: "\e3f8";
}
.#{$mi-prefix}-leak-remove:before {
    content: "\e3f9";
}
.#{$mi-prefix}-lens:before {
    content: "\e3fa";
}
.#{$mi-prefix}-library-add:before {
    content: "\e02e";
}
.#{$mi-prefix}-library-books:before {
    content: "\e02f";
}
.#{$mi-prefix}-library-music:before {
    content: "\e030";
}
.#{$mi-prefix}-link:before {
    content: "\e157";
}
.#{$mi-prefix}-list:before {
    content: "\e896";
}
.#{$mi-prefix}-live-help:before {
    content: "\e0c6";
}
.#{$mi-prefix}-live-tv:before {
    content: "\e639";
}
.#{$mi-prefix}-local-activity:before {
    content: "\e53f";
}
.#{$mi-prefix}-local-airport:before {
    content: "\e53d";
}
.#{$mi-prefix}-local-atm:before {
    content: "\e53e";
}
.#{$mi-prefix}-local-bar:before {
    content: "\e540";
}
.#{$mi-prefix}-local-cafe:before {
    content: "\e541";
}
.#{$mi-prefix}-local-car-wash:before {
    content: "\e542";
}
.#{$mi-prefix}-local-convenience-store:before {
    content: "\e543";
}
.#{$mi-prefix}-local-dining:before {
    content: "\e556";
}
.#{$mi-prefix}-local-drink:before {
    content: "\e544";
}
.#{$mi-prefix}-local-florist:before {
    content: "\e545";
}
.#{$mi-prefix}-local-gas-station:before {
    content: "\e546";
}
.#{$mi-prefix}-local-grocery-store:before {
    content: "\e547";
}
.#{$mi-prefix}-local-hospital:before {
    content: "\e548";
}
.#{$mi-prefix}-local-hotel:before {
    content: "\e549";
}
.#{$mi-prefix}-local-laundry-service:before {
    content: "\e54a";
}
.#{$mi-prefix}-local-library:before {
    content: "\e54b";
}
.#{$mi-prefix}-local-mall:before {
    content: "\e54c";
}
.#{$mi-prefix}-local-movies:before {
    content: "\e54d";
}
.#{$mi-prefix}-local-offer:before {
    content: "\e54e";
}
.#{$mi-prefix}-local-parking:before {
    content: "\e54f";
}
.#{$mi-prefix}-local-pharmacy:before {
    content: "\e550";
}
.#{$mi-prefix}-local-phone:before {
    content: "\e551";
}
.#{$mi-prefix}-local-pizza:before {
    content: "\e552";
}
.#{$mi-prefix}-local-play:before {
    content: "\e553";
}
.#{$mi-prefix}-local-post-office:before {
    content: "\e554";
}
.#{$mi-prefix}-local-printshop:before {
    content: "\e555";
}
.#{$mi-prefix}-local-see:before {
    content: "\e557";
}
.#{$mi-prefix}-local-shipping:before {
    content: "\e558";
}
.#{$mi-prefix}-local-taxi:before {
    content: "\e559";
}
.#{$mi-prefix}-location-city:before {
    content: "\e7f1";
}
.#{$mi-prefix}-location-disabled:before {
    content: "\e1b6";
}
.#{$mi-prefix}-location-off:before {
    content: "\e0c7";
}
.#{$mi-prefix}-location-on:before {
    content: "\e0c8";
}
.#{$mi-prefix}-location-searching:before {
    content: "\e1b7";
}
.#{$mi-prefix}-lock:before {
    content: "\e897";
}
.#{$mi-prefix}-lock-open:before {
    content: "\e898";
}
.#{$mi-prefix}-lock-outline:before {
    content: "\e899";
}
.#{$mi-prefix}-looks:before {
    content: "\e3fc";
}
.#{$mi-prefix}-looks-3:before {
    content: "\e3fb";
}
.#{$mi-prefix}-looks-4:before {
    content: "\e3fd";
}
.#{$mi-prefix}-looks-5:before {
    content: "\e3fe";
}
.#{$mi-prefix}-looks-6:before {
    content: "\e3ff";
}
.#{$mi-prefix}-looks-one:before {
    content: "\e400";
}
.#{$mi-prefix}-looks-two:before {
    content: "\e401";
}
.#{$mi-prefix}-loop:before {
    content: "\e028";
}
.#{$mi-prefix}-loupe:before {
    content: "\e402";
}
.#{$mi-prefix}-loyalty:before {
    content: "\e89a";
}
.#{$mi-prefix}-mail:before {
    content: "\e158";
}
.#{$mi-prefix}-map:before {
    content: "\e55b";
}
.#{$mi-prefix}-markunread:before {
    content: "\e159";
}
.#{$mi-prefix}-markunread-mailbox:before {
    content: "\e89b";
}
.#{$mi-prefix}-memory:before {
    content: "\e322";
}
.#{$mi-prefix}-menu:before {
    content: "\e5d2";
}
.#{$mi-prefix}-merge-type:before {
    content: "\e252";
}
.#{$mi-prefix}-message:before {
    content: "\e0c9";
}
.#{$mi-prefix}-mic:before {
    content: "\e029";
}
.#{$mi-prefix}-mic-none:before {
    content: "\e02a";
}
.#{$mi-prefix}-mic-off:before {
    content: "\e02b";
}
.#{$mi-prefix}-mms:before {
    content: "\e618";
}
.#{$mi-prefix}-mode-comment:before {
    content: "\e253";
}
.#{$mi-prefix}-mode-edit:before {
    content: "\e254";
}
.#{$mi-prefix}-money-off:before {
    content: "\e25c";
}
.#{$mi-prefix}-monochrome-photos:before {
    content: "\e403";
}
.#{$mi-prefix}-mood:before {
    content: "\e7f2";
}
.#{$mi-prefix}-mood-bad:before {
    content: "\e7f3";
}
.#{$mi-prefix}-more:before {
    content: "\e619";
}
.#{$mi-prefix}-more-horiz:before {
    content: "\e5d3";
}
.#{$mi-prefix}-more-vert:before {
    content: "\e5d4";
}
.#{$mi-prefix}-mouse:before {
    content: "\e323";
}
.#{$mi-prefix}-movie:before {
    content: "\e02c";
}
.#{$mi-prefix}-movie-creation:before {
    content: "\e404";
}
.#{$mi-prefix}-music-note:before {
    content: "\e405";
}
.#{$mi-prefix}-my-location:before {
    content: "\e55c";
}
.#{$mi-prefix}-nature:before {
    content: "\e406";
}
.#{$mi-prefix}-nature-people:before {
    content: "\e407";
}
.#{$mi-prefix}-navigate-before:before {
    content: "\e408";
}
.#{$mi-prefix}-navigate-next:before {
    content: "\e409";
}
.#{$mi-prefix}-navigation:before {
    content: "\e55d";
}
.#{$mi-prefix}-network-cell:before {
    content: "\e1b9";
}
.#{$mi-prefix}-network-locked:before {
    content: "\e61a";
}
.#{$mi-prefix}-network-wifi:before {
    content: "\e1ba";
}
.#{$mi-prefix}-new-releases:before {
    content: "\e031";
}
.#{$mi-prefix}-nfc:before {
    content: "\e1bb";
}
.#{$mi-prefix}-no-sim:before {
    content: "\e0cc";
}
.#{$mi-prefix}-not-interested:before {
    content: "\e033";
}
.#{$mi-prefix}-note-add:before {
    content: "\e89c";
}
.#{$mi-prefix}-notifications:before {
    content: "\e7f4";
}
.#{$mi-prefix}-notifications-active:before {
    content: "\e7f7";
}
.#{$mi-prefix}-notifications-none:before {
    content: "\e7f5";
}
.#{$mi-prefix}-notifications-off:before {
    content: "\e7f6";
}
.#{$mi-prefix}-notifications-paused:before {
    content: "\e7f8";
}
.#{$mi-prefix}-offline-pin:before {
    content: "\e90a";
}
.#{$mi-prefix}-ondemand-video:before {
    content: "\e63a";
}
.#{$mi-prefix}-open-in-browser:before {
    content: "\e89d";
}
.#{$mi-prefix}-open-in-new:before {
    content: "\e89e";
}
.#{$mi-prefix}-open-with:before {
    content: "\e89f";
}
.#{$mi-prefix}-pages:before {
    content: "\e7f9";
}
.#{$mi-prefix}-pageview:before {
    content: "\e8a0";
}
.#{$mi-prefix}-palette:before {
    content: "\e40a";
}
.#{$mi-prefix}-panorama:before {
    content: "\e40b";
}
.#{$mi-prefix}-panorama-fish-eye:before {
    content: "\e40c";
}
.#{$mi-prefix}-panorama-horizontal:before {
    content: "\e40d";
}
.#{$mi-prefix}-panorama-vertical:before {
    content: "\e40e";
}
.#{$mi-prefix}-panorama-wide-angle:before {
    content: "\e40f";
}
.#{$mi-prefix}-party-mode:before {
    content: "\e7fa";
}
.#{$mi-prefix}-pause:before {
    content: "\e034";
}
.#{$mi-prefix}-pause-circle-filled:before {
    content: "\e035";
}
.#{$mi-prefix}-pause-circle-outline:before {
    content: "\e036";
}
.#{$mi-prefix}-payment:before {
    content: "\e8a1";
}
.#{$mi-prefix}-people:before {
    content: "\e7fb";
}
.#{$mi-prefix}-people-outline:before {
    content: "\e7fc";
}
.#{$mi-prefix}-perm-camera-mic:before {
    content: "\e8a2";
}
.#{$mi-prefix}-perm-contact-calendar:before {
    content: "\e8a3";
}
.#{$mi-prefix}-perm-data-setting:before {
    content: "\e8a4";
}
.#{$mi-prefix}-perm-device-information:before {
    content: "\e8a5";
}
.#{$mi-prefix}-perm-identity:before {
    content: "\e8a6";
}
.#{$mi-prefix}-perm-media:before {
    content: "\e8a7";
}
.#{$mi-prefix}-perm-phone-msg:before {
    content: "\e8a8";
}
.#{$mi-prefix}-perm-scan-wifi:before {
    content: "\e8a9";
}
.#{$mi-prefix}-person:before {
    content: "\e7fd";
}
.#{$mi-prefix}-person-add:before {
    content: "\e7fe";
}
.#{$mi-prefix}-person-outline:before {
    content: "\e7ff";
}
.#{$mi-prefix}-person-pin:before {
    content: "\e55a";
}
.#{$mi-prefix}-personal-video:before {
    content: "\e63b";
}
.#{$mi-prefix}-phone:before {
    content: "\e0cd";
}
.#{$mi-prefix}-phone-android:before {
    content: "\e324";
}
.#{$mi-prefix}-phone-bluetooth-speaker:before {
    content: "\e61b";
}
.#{$mi-prefix}-phone-forwarded:before {
    content: "\e61c";
}
.#{$mi-prefix}-phone-in-talk:before {
    content: "\e61d";
}
.#{$mi-prefix}-phone-iphone:before {
    content: "\e325";
}
.#{$mi-prefix}-phone-locked:before {
    content: "\e61e";
}
.#{$mi-prefix}-phone-missed:before {
    content: "\e61f";
}
.#{$mi-prefix}-phone-paused:before {
    content: "\e620";
}
.#{$mi-prefix}-phonelink:before {
    content: "\e326";
}
.#{$mi-prefix}-phonelink-erase:before {
    content: "\e0db";
}
.#{$mi-prefix}-phonelink-lock:before {
    content: "\e0dc";
}
.#{$mi-prefix}-phonelink-off:before {
    content: "\e327";
}
.#{$mi-prefix}-phonelink-ring:before {
    content: "\e0dd";
}
.#{$mi-prefix}-phonelink-setup:before {
    content: "\e0de";
}
.#{$mi-prefix}-photo:before {
    content: "\e410";
}
.#{$mi-prefix}-photo-album:before {
    content: "\e411";
}
.#{$mi-prefix}-photo-camera:before {
    content: "\e412";
}
.#{$mi-prefix}-photo-library:before {
    content: "\e413";
}
.#{$mi-prefix}-photo-size-select-actual:before {
    content: "\e432";
}
.#{$mi-prefix}-photo-size-select-large:before {
    content: "\e433";
}
.#{$mi-prefix}-photo-size-select-small:before {
    content: "\e434";
}
.#{$mi-prefix}-picture-as-pdf:before {
    content: "\e415";
}
.#{$mi-prefix}-picture-in-picture:before {
    content: "\e8aa";
}
.#{$mi-prefix}-pin-drop:before {
    content: "\e55e";
}
.#{$mi-prefix}-place:before {
    content: "\e55f";
}
.#{$mi-prefix}-play-arrow:before {
    content: "\e037";
}
.#{$mi-prefix}-play-circle-filled:before {
    content: "\e038";
}
.#{$mi-prefix}-play-circle-outline:before {
    content: "\e039";
}
.#{$mi-prefix}-play-for-work:before {
    content: "\e906";
}
.#{$mi-prefix}-playlist-add:before {
    content: "\e03b";
}
.#{$mi-prefix}-plus-one:before {
    content: "\e800";
}
.#{$mi-prefix}-poll:before {
    content: "\e801";
}
.#{$mi-prefix}-polymer:before {
    content: "\e8ab";
}
.#{$mi-prefix}-portable-wifi-off:before {
    content: "\e0ce";
}
.#{$mi-prefix}-portrait:before {
    content: "\e416";
}
.#{$mi-prefix}-power:before {
    content: "\e63c";
}
.#{$mi-prefix}-power-input:before {
    content: "\e336";
}
.#{$mi-prefix}-power-settings-new:before {
    content: "\e8ac";
}
.#{$mi-prefix}-present-to-all:before {
    content: "\e0df";
}
.#{$mi-prefix}-print:before {
    content: "\e8ad";
}
.#{$mi-prefix}-public:before {
    content: "\e80b";
}
.#{$mi-prefix}-publish:before {
    content: "\e255";
}
.#{$mi-prefix}-query-builder:before {
    content: "\e8ae";
}
.#{$mi-prefix}-question-answer:before {
    content: "\e8af";
}
.#{$mi-prefix}-queue:before {
    content: "\e03c";
}
.#{$mi-prefix}-queue-music:before {
    content: "\e03d";
}
.#{$mi-prefix}-radio:before {
    content: "\e03e";
}
.#{$mi-prefix}-radio-button-checked:before {
    content: "\e837";
}
.#{$mi-prefix}-radio-button-unchecked:before {
    content: "\e836";
}
.#{$mi-prefix}-rate-review:before {
    content: "\e560";
}
.#{$mi-prefix}-receipt:before {
    content: "\e8b0";
}
.#{$mi-prefix}-recent-actors:before {
    content: "\e03f";
}
.#{$mi-prefix}-redeem:before {
    content: "\e8b1";
}
.#{$mi-prefix}-redo:before {
    content: "\e15a";
}
.#{$mi-prefix}-refresh:before {
    content: "\e5d5";
}
.#{$mi-prefix}-remove:before {
    content: "\e15b";
}
.#{$mi-prefix}-remove-circle:before {
    content: "\e15c";
}
.#{$mi-prefix}-remove-circle-outline:before {
    content: "\e15d";
}
.#{$mi-prefix}-remove-red-eye:before {
    content: "\e417";
}
.#{$mi-prefix}-reorder:before {
    content: "\e8fe";
}
.#{$mi-prefix}-repeat:before {
    content: "\e040";
}
.#{$mi-prefix}-repeat-one:before {
    content: "\e041";
}
.#{$mi-prefix}-replay:before {
    content: "\e042";
}
.#{$mi-prefix}-replay-10:before {
    content: "\e059";
}
.#{$mi-prefix}-replay-30:before {
    content: "\e05a";
}
.#{$mi-prefix}-replay-5:before {
    content: "\e05b";
}
.#{$mi-prefix}-reply:before {
    content: "\e15e";
}
.#{$mi-prefix}-reply-all:before {
    content: "\e15f";
}
.#{$mi-prefix}-report:before {
    content: "\e160";
}
.#{$mi-prefix}-report-problem:before {
    content: "\e8b2";
}
.#{$mi-prefix}-restaurant-menu:before {
    content: "\e561";
}
.#{$mi-prefix}-restore:before {
    content: "\e8b3";
}
.#{$mi-prefix}-ring-volume:before {
    content: "\e0d1";
}
.#{$mi-prefix}-room:before {
    content: "\e8b4";
}
.#{$mi-prefix}-rotate-90-degrees-ccw:before {
    content: "\e418";
}
.#{$mi-prefix}-rotate-left:before {
    content: "\e419";
}
.#{$mi-prefix}-rotate-right:before {
    content: "\e41a";
}
.#{$mi-prefix}-router:before {
    content: "\e328";
}
.#{$mi-prefix}-satellite:before {
    content: "\e562";
}
.#{$mi-prefix}-save:before {
    content: "\e161";
}
.#{$mi-prefix}-scanner:before {
    content: "\e329";
}
.#{$mi-prefix}-schedule:before {
    content: "\e8b5";
}
.#{$mi-prefix}-school:before {
    content: "\e80c";
}
.#{$mi-prefix}-screen-lock-landscape:before {
    content: "\e1be";
}
.#{$mi-prefix}-screen-lock-portrait:before {
    content: "\e1bf";
}
.#{$mi-prefix}-screen-lock-rotation:before {
    content: "\e1c0";
}
.#{$mi-prefix}-screen-rotation:before {
    content: "\e1c1";
}
.#{$mi-prefix}-sd-card:before {
    content: "\e623";
}
.#{$mi-prefix}-sd-storage:before {
    content: "\e1c2";
}
.#{$mi-prefix}-search:before {
    content: "\e8b6";
}
.#{$mi-prefix}-security:before {
    content: "\e32a";
}
.#{$mi-prefix}-select-all:before {
    content: "\e162";
}
.#{$mi-prefix}-send:before {
    content: "\e163";
}
.#{$mi-prefix}-settings:before {
    content: "\e8b8";
}
.#{$mi-prefix}-settings-applications:before {
    content: "\e8b9";
}
.#{$mi-prefix}-settings-backup-restore:before {
    content: "\e8ba";
}
.#{$mi-prefix}-settings-bluetooth:before {
    content: "\e8bb";
}
.#{$mi-prefix}-settings-brightness:before {
    content: "\e8bd";
}
.#{$mi-prefix}-settings-cell:before {
    content: "\e8bc";
}
.#{$mi-prefix}-settings-ethernet:before {
    content: "\e8be";
}
.#{$mi-prefix}-settings-input-antenna:before {
    content: "\e8bf";
}
.#{$mi-prefix}-settings-input-component:before {
    content: "\e8c0";
}
.#{$mi-prefix}-settings-input-composite:before {
    content: "\e8c1";
}
.#{$mi-prefix}-settings-input-hdmi:before {
    content: "\e8c2";
}
.#{$mi-prefix}-settings-input-svideo:before {
    content: "\e8c3";
}
.#{$mi-prefix}-settings-overscan:before {
    content: "\e8c4";
}
.#{$mi-prefix}-settings-phone:before {
    content: "\e8c5";
}
.#{$mi-prefix}-settings-power:before {
    content: "\e8c6";
}
.#{$mi-prefix}-settings-remote:before {
    content: "\e8c7";
}
.#{$mi-prefix}-settings-system-daydream:before {
    content: "\e1c3";
}
.#{$mi-prefix}-settings-voice:before {
    content: "\e8c8";
}
.#{$mi-prefix}-share:before {
    content: "\e80d";
}
.#{$mi-prefix}-shop:before {
    content: "\e8c9";
}
.#{$mi-prefix}-shop-two:before {
    content: "\e8ca";
}
.#{$mi-prefix}-shopping-basket:before {
    content: "\e8cb";
}
.#{$mi-prefix}-shopping-cart:before {
    content: "\e8cc";
}
.#{$mi-prefix}-shuffle:before {
    content: "\e043";
}
.#{$mi-prefix}-signal-cellular-4-bar:before {
    content: "\e1c8";
}
.#{$mi-prefix}-signal-cellular-connected-no-internet-4-bar:before {
    content: "\e1cd";
}
.#{$mi-prefix}-signal-cellular-no-sim:before {
    content: "\e1ce";
}
.#{$mi-prefix}-signal-cellular-null:before {
    content: "\e1cf";
}
.#{$mi-prefix}-signal-cellular-off:before {
    content: "\e1d0";
}
.#{$mi-prefix}-signal-wifi-4-bar:before {
    content: "\e1d8";
}
.#{$mi-prefix}-signal-wifi-4-bar-lock:before {
    content: "\e1d9";
}
.#{$mi-prefix}-signal-wifi-off:before {
    content: "\e1da";
}
.#{$mi-prefix}-sim-card:before {
    content: "\e32b";
}
.#{$mi-prefix}-sim-card-alert:before {
    content: "\e624";
}
.#{$mi-prefix}-skip-next:before {
    content: "\e044";
}
.#{$mi-prefix}-skip-previous:before {
    content: "\e045";
}
.#{$mi-prefix}-slideshow:before {
    content: "\e41b";
}
.#{$mi-prefix}-smartphone:before {
    content: "\e32c";
}
.#{$mi-prefix}-sms:before {
    content: "\e625";
}
.#{$mi-prefix}-sms-failed:before {
    content: "\e626";
}
.#{$mi-prefix}-snooze:before {
    content: "\e046";
}
.#{$mi-prefix}-sort:before {
    content: "\e164";
}
.#{$mi-prefix}-sort-by-alpha:before {
    content: "\e053";
}
.#{$mi-prefix}-space-bar:before {
    content: "\e256";
}
.#{$mi-prefix}-speaker:before {
    content: "\e32d";
}
.#{$mi-prefix}-speaker-group:before {
    content: "\e32e";
}
.#{$mi-prefix}-speaker-notes:before {
    content: "\e8cd";
}
.#{$mi-prefix}-speaker-phone:before {
    content: "\e0d2";
}
.#{$mi-prefix}-spellcheck:before {
    content: "\e8ce";
}
.#{$mi-prefix}-star:before {
    content: "\e838";
}
.#{$mi-prefix}-star-border:before {
    content: "\e83a";
}
.#{$mi-prefix}-star-half:before {
    content: "\e839";
}
.#{$mi-prefix}-stars:before {
    content: "\e8d0";
}
.#{$mi-prefix}-stay-current-landscape:before {
    content: "\e0d3";
}
.#{$mi-prefix}-stay-current-portrait:before {
    content: "\e0d4";
}
.#{$mi-prefix}-stay-primary-landscape:before {
    content: "\e0d5";
}
.#{$mi-prefix}-stay-primary-portrait:before {
    content: "\e0d6";
}
.#{$mi-prefix}-stop:before {
    content: "\e047";
}
.#{$mi-prefix}-storage:before {
    content: "\e1db";
}
.#{$mi-prefix}-store:before {
    content: "\e8d1";
}
.#{$mi-prefix}-store-mall-directory:before {
    content: "\e563";
}
.#{$mi-prefix}-straighten:before {
    content: "\e41c";
}
.#{$mi-prefix}-strikethrough-s:before {
    content: "\e257";
}
.#{$mi-prefix}-style:before {
    content: "\e41d";
}
.#{$mi-prefix}-subject:before {
    content: "\e8d2";
}
.#{$mi-prefix}-subtitles:before {
    content: "\e048";
}
.#{$mi-prefix}-supervisor-account:before {
    content: "\e8d3";
}
.#{$mi-prefix}-surround-sound:before {
    content: "\e049";
}
.#{$mi-prefix}-swap-calls:before {
    content: "\e0d7";
}
.#{$mi-prefix}-swap-horiz:before {
    content: "\e8d4";
}
.#{$mi-prefix}-swap-vert:before {
    content: "\e8d5";
}
.#{$mi-prefix}-swap-vertical-circle:before {
    content: "\e8d6";
}
.#{$mi-prefix}-switch-camera:before {
    content: "\e41e";
}
.#{$mi-prefix}-switch-video:before {
    content: "\e41f";
}
.#{$mi-prefix}-sync:before {
    content: "\e627";
}
.#{$mi-prefix}-sync-disabled:before {
    content: "\e628";
}
.#{$mi-prefix}-sync-problem:before {
    content: "\e629";
}
.#{$mi-prefix}-system-update:before {
    content: "\e62a";
}
.#{$mi-prefix}-system-update-alt:before {
    content: "\e8d7";
}
.#{$mi-prefix}-tab:before {
    content: "\e8d8";
}
.#{$mi-prefix}-tab-unselected:before {
    content: "\e8d9";
}
.#{$mi-prefix}-tablet:before {
    content: "\e32f";
}
.#{$mi-prefix}-tablet-android:before {
    content: "\e330";
}
.#{$mi-prefix}-tablet-mac:before {
    content: "\e331";
}
.#{$mi-prefix}-tag-faces:before {
    content: "\e420";
}
.#{$mi-prefix}-tap-and-play:before {
    content: "\e62b";
}
.#{$mi-prefix}-terrain:before {
    content: "\e564";
}
.#{$mi-prefix}-text-format:before {
    content: "\e165";
}
.#{$mi-prefix}-textsms:before {
    content: "\e0d8";
}
.#{$mi-prefix}-texture:before {
    content: "\e421";
}
.#{$mi-prefix}-theaters:before {
    content: "\e8da";
}
.#{$mi-prefix}-thumb-down:before {
    content: "\e8db";
}
.#{$mi-prefix}-thumb-up:before {
    content: "\e8dc";
}
.#{$mi-prefix}-thumbs-up-down:before {
    content: "\e8dd";
}
.#{$mi-prefix}-time-to-leave:before {
    content: "\e62c";
}
.#{$mi-prefix}-timelapse:before {
    content: "\e422";
}
.#{$mi-prefix}-timer:before {
    content: "\e425";
}
.#{$mi-prefix}-timer-10:before {
    content: "\e423";
}
.#{$mi-prefix}-timer-3:before {
    content: "\e424";
}
.#{$mi-prefix}-timer-off:before {
    content: "\e426";
}
.#{$mi-prefix}-toc:before {
    content: "\e8de";
}
.#{$mi-prefix}-today:before {
    content: "\e8df";
}
.#{$mi-prefix}-toll:before {
    content: "\e8e0";
}
.#{$mi-prefix}-tonality:before {
    content: "\e427";
}
.#{$mi-prefix}-toys:before {
    content: "\e332";
}
.#{$mi-prefix}-track-changes:before {
    content: "\e8e1";
}
.#{$mi-prefix}-traffic:before {
    content: "\e565";
}
.#{$mi-prefix}-transform:before {
    content: "\e428";
}
.#{$mi-prefix}-translate:before {
    content: "\e8e2";
}
.#{$mi-prefix}-trending-down:before {
    content: "\e8e3";
}
.#{$mi-prefix}-trending-flat:before {
    content: "\e8e4";
}
.#{$mi-prefix}-trending-up:before {
    content: "\e8e5";
}
.#{$mi-prefix}-tune:before {
    content: "\e429";
}
.#{$mi-prefix}-turned-in:before {
    content: "\e8e6";
}
.#{$mi-prefix}-turned-in-not:before {
    content: "\e8e7";
}
.#{$mi-prefix}-tv:before {
    content: "\e333";
}
.#{$mi-prefix}-undo:before {
    content: "\e166";
}
.#{$mi-prefix}-unfold-less:before {
    content: "\e5d6";
}
.#{$mi-prefix}-unfold-more:before {
    content: "\e5d7";
}
.#{$mi-prefix}-usb:before {
    content: "\e1e0";
}
.#{$mi-prefix}-verified-user:before {
    content: "\e8e8";
}
.#{$mi-prefix}-vertical-align-bottom:before {
    content: "\e258";
}
.#{$mi-prefix}-vertical-align-center:before {
    content: "\e259";
}
.#{$mi-prefix}-vertical-align-top:before {
    content: "\e25a";
}
.#{$mi-prefix}-vibration:before {
    content: "\e62d";
}
.#{$mi-prefix}-video-library:before {
    content: "\e04a";
}
.#{$mi-prefix}-videocam:before {
    content: "\e04b";
}
.#{$mi-prefix}-videocam-off:before {
    content: "\e04c";
}
.#{$mi-prefix}-view-agenda:before {
    content: "\e8e9";
}
.#{$mi-prefix}-view-array:before {
    content: "\e8ea";
}
.#{$mi-prefix}-view-carousel:before {
    content: "\e8eb";
}
.#{$mi-prefix}-view-column:before {
    content: "\e8ec";
}
.#{$mi-prefix}-view-comfy:before {
    content: "\e42a";
}
.#{$mi-prefix}-view-compact:before {
    content: "\e42b";
}
.#{$mi-prefix}-view-day:before {
    content: "\e8ed";
}
.#{$mi-prefix}-view-headline:before {
    content: "\e8ee";
}
.#{$mi-prefix}-view-list:before {
    content: "\e8ef";
}
.#{$mi-prefix}-view-module:before {
    content: "\e8f0";
}
.#{$mi-prefix}-view-quilt:before {
    content: "\e8f1";
}
.#{$mi-prefix}-view-stream:before {
    content: "\e8f2";
}
.#{$mi-prefix}-view-week:before {
    content: "\e8f3";
}
.#{$mi-prefix}-vignette:before {
    content: "\e435";
}
.#{$mi-prefix}-visibility:before {
    content: "\e8f4";
}
.#{$mi-prefix}-visibility-off:before {
    content: "\e8f5";
}
.#{$mi-prefix}-voice-chat:before {
    content: "\e62e";
}
.#{$mi-prefix}-voicemail:before {
    content: "\e0d9";
}
.#{$mi-prefix}-volume-down:before {
    content: "\e04d";
}
.#{$mi-prefix}-volume-mute:before {
    content: "\e04e";
}
.#{$mi-prefix}-volume-off:before {
    content: "\e04f";
}
.#{$mi-prefix}-volume-up:before {
    content: "\e050";
}
.#{$mi-prefix}-vpn-key:before {
    content: "\e0da";
}
.#{$mi-prefix}-vpn-lock:before {
    content: "\e62f";
}
.#{$mi-prefix}-wallpaper:before {
    content: "\e1bc";
}
.#{$mi-prefix}-warning:before {
    content: "\e002";
}
.#{$mi-prefix}-watch:before {
    content: "\e334";
}
.#{$mi-prefix}-wb-auto:before {
    content: "\e42c";
}
.#{$mi-prefix}-wb-cloudy:before {
    content: "\e42d";
}
.#{$mi-prefix}-wb-incandescent:before {
    content: "\e42e";
}
.#{$mi-prefix}-wb-iridescent:before {
    content: "\e436";
}
.#{$mi-prefix}-wb-sunny:before {
    content: "\e430";
}
.#{$mi-prefix}-wc:before {
    content: "\e63d";
}
.#{$mi-prefix}-web:before {
    content: "\e051";
}
.#{$mi-prefix}-whatshot:before {
    content: "\e80e";
}
.#{$mi-prefix}-widgets:before {
    content: "\e1bd";
}
.#{$mi-prefix}-wifi:before {
    content: "\e63e";
}
.#{$mi-prefix}-wifi-lock:before {
    content: "\e1e1";
}
.#{$mi-prefix}-wifi-tethering:before {
    content: "\e1e2";
}
.#{$mi-prefix}-work:before {
    content: "\e8f9";
}
.#{$mi-prefix}-wrap-text:before {
    content: "\e25b";
}
.#{$mi-prefix}-youtube-searched-for:before {
    content: "\e8fa";
}
.#{$mi-prefix}-zoom-in:before {
    content: "\e8ff";
}
.#{$mi-prefix}-zoom-out:before {
    content: "\e900";
}

