/* line 1, main.scss */
:root {
  --bg-color: #f9f9f9;
  --text-color: #444;
  --link-color: #02a8f3;
  --head-bg-panel: #212121;
  --head-text-color: #fff;
  --code-bg-color: rgba(0,0,0,0.04);
  --code-text-color: inherit;
  --content-font-size: 18px;
  --content-line-height: 36px;
  --search-panel-bg-color: #fff;
  --search-panel-shadow: 0 0 2px rgba(0, 0, 0, .2);
  --search-panel-shadow-fixed: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --search-text-color: #434343;
  --grid-text-color: #a2a2a2;
  --grid-border-top: 1px solid rgba(0, 0, 0, 0.08);
  --no-result-text-color: #909090;
  --item-bg-hover: #f2f2f2;
  --item-bg-active: #e0e0e0;
  --item-badge-bg-color: #fe6363;
  --item-badge-text-color: #fff;
  --item-icon-color: #757575;
  --item-text-color: var(--item-icon-color);
  --item-search-match-bg-color: #FFFF4F;
  --item-search-match-text-color: var(--item-text-color);
  --snackbar-header-text-color: #fff;
  --snackbar-header-bg-color: #03a9f4;
  --snackbar-body-bg-color: #eee;
  --snackbar-code-text-color: #434343;
  --snackbar-content-shadow: 0 -2px 5px rgba(0, 0, 0, .1);
  --snackbar-title-text-color: #02a8f3;
  --snackbar-comment-text-color: #434343;
  --footer-bg-color: #eee; }

/* line 36, main.scss */
html, body {
  background-color: var(--bg-color);
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-family: RobotoDraft, Roboto, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

/* line 49, main.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 53, main.scss */
* {
  font-family: RobotoDraft, Roboto, sans-serif; }

/* line 57, main.scss */
a {
  color: var(--link-color);
  text-decoration: none; }
  /* line 60, main.scss */
  a:hover {
    text-decoration: underline; }
  /* line 63, main.scss */
  a, a:hover {
    outline: 0; }

/* line 68, main.scss */
#head-panel h1, #head-panel .repo-link {
  font-family: 'Rubik', sans-serif; }

/* line 72, main.scss */
#head-panel {
  background-color: var(--head-bg-panel);
  padding: 9px 0; }
  /* line 75, main.scss */
  #head-panel h1 {
    color: var(--head-text-color);
    font-size: 33px;
    font-weight: normal;
    line-height: 37px;
    margin: 0px;
    display: inline-block; }
    /* line 82, main.scss */
    #head-panel h1:after {
      letter-spacing: 0.5em;
      content: "\00a0"; }
  /* line 87, main.scss */
  #head-panel .logo {
    width: 40px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 14px; }
  /* line 93, main.scss */
  #head-panel .buttons {
    display: inline-block;
    color: transparent; }
  /* line 97, main.scss */
  #head-panel .repo-link {
    color: var(--head-text-color);
    font-size: 15px;
    margin-left: 54px;
    text-decoration: none; }
    /* line 102, main.scss */
    #head-panel .repo-link:hover {
      text-decoration: underline; }

/* line 108, main.scss */
.container {
  width: 100%;
  padding: 0 20px;
  height: 100%; }

/* line 114, main.scss */
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 160px; }

/* line 121, main.scss */
.content {
  margin: 120px 0 40px; }
  /* line 123, main.scss */
  .content p {
    line-height: var(--content-line-height);
    font-size: var(--content-font-size);
    margin-top: 2px;
    margin-bottom: 10px; }
  /* line 129, main.scss */
  .content code {
    padding: 0.2em 0;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-bg-color);
    color: var(--code-text-color);
    border-radius: 3px; }
    /* line 136, main.scss */
    .content code:before, .content code:after {
      letter-spacing: -0.2em;
      content: "\00a0"; }

/* line 143, main.scss */
.clear-icon {
  cursor: pointer; }

/* line 147, main.scss */
#search-panel {
  height: 64px;
  width: 100%;
  background-color: var(--search-panel-bg-color);
  box-shadow: var(--search-panel-shadow);
  position: absolute;
  z-index: 7; }
  /* line 154, main.scss */
  #search-panel.top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--search-panel-shadow-fixed); }
  /* line 161, main.scss */
  #search-panel .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%; }
  /* line 173, main.scss */
  #search-panel .search-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    fill: currentcolor;
    position: relative;
    opacity: 0.5; }
    /* line 180, main.scss */
    #search-panel .search-icon, #search-panel .search-icon .mdi {
      height: 24px;
      width: 24px;
      font-size: 24px; }
    /* line 185, main.scss */
    #search-panel .search-icon.search-magnify {
      pointer-events: none;
      position: absolute;
      margin-left: 10px; }
    /* line 191, main.scss */
    #search-panel .search-icon.clear-icon:hover {
      opacity: 1; }
  /* line 196, main.scss */
  #search-panel #search {
    color: var(--search-text-color);
    font-size: 20px;
    padding: 8px 0 8px 54px;
    width: auto;
    border: none;
    outline: none;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px; }

/* line 211, main.scss */
#grid-container {
  padding: 0 0 70px;
  min-height: 900px;
  margin-top: 67px; }
  /* line 215, main.scss */
  #grid-container .grid {
    margin: 20px -15px 0 -15px; }
    /* line 217, main.scss */
    #grid-container .grid:after {
      clear: both;
      display: table;
      content: " "; }
  /* line 223, main.scss */
  #grid-container:after {
    clear: both;
    display: table;
    content: " "; }
  /* line 228, main.scss */
  #grid-container h2 {
    color: var(--grid-text-color);
    font-size: 16px;
    font-weight: normal;
    display: block;
    border-top: var(--grid-border-top);
    padding: 67px 0 0;
    margin: 47px 0 10px; }
  /* line 237, main.scss */
  #grid-container .no-results {
    text-align: center;
    color: var(--no-result-text-color);
    font-size: 24px;
    padding: 150px 0; }
  /* line 243, main.scss */
  #grid-container .item-container {
    display: block;
    width: 112px;
    height: 120px;
    margin: 0 10px 5px;
    padding: 20px 0 0;
    cursor: pointer;
    background: transparent;
    float: left;
    transition: background 200ms ease-out;
    border-radius: 2px; }
    /* line 254, main.scss */
    #grid-container .item-container:hover {
      background: var(--item-bg-hover); }
    /* line 257, main.scss */
    #grid-container .item-container.selected {
      background: var(--item-bg-active); }
    /* line 260, main.scss */
    #grid-container .item-container .item {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      position: relative; }
      /* line 271, main.scss */
      #grid-container .item-container .item .item-badge {
        position: absolute;
        right: 8px;
        top: -12px;
        padding: 2px 3px;
        border-radius: 2px;
        background: var(--item-badge-bg-color);
        color: var(--item-badge-text-color);
        font-size: 10px;
        font-weight: 500; }
      /* line 282, main.scss */
      #grid-container .item-container .item .mdi {
        font-size: 48px;
        width: 48px;
        height: 48px;
        color: var(--item-icon-color); }
      /* line 288, main.scss */
      #grid-container .item-container .item .caption {
        color: var(--item-text-color);
        font-size: 11px;
        margin-top: 16px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px;
        z-index: 1; }
        /* line 298, main.scss */
        #grid-container .item-container .item .caption > i {
          position: relative;
          z-index: 1;
          color: var(--item-search-match-text-color);
          background: var(--item-search-match-bg-color);
          padding: 0 1px;
          font-size: 11px;
          margin: 0px -2px;
          line-height: 11px;
          border-radius: 2px;
          border: 1px solid var(--item-search-match-bg-color);
          display: inline-block;
          font-style: normal; }
        /* line 312, main.scss */
        #grid-container .item-container .item .caption > span {
          position: relative;
          z-index: 2;
          display: inline-block;
          text-overflow: ellipsis; }

/* line 323, main.scss */
#snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5; }
  /* line 329, main.scss */
  #snackbar .snackbar-header {
    color: var(--snackbar-header-text-color);
    height: 64px;
    background-color: var(--snackbar-header-bg-color);
    padding: 19px 20px 20px;
    line-height: 26px;
    overflow: hidden; }
    /* line 336, main.scss */
    #snackbar .snackbar-header .mdi {
      width: 24px;
      height: 24px;
      font-size: 24px;
      float: left; }
    /* line 342, main.scss */
    #snackbar .snackbar-header .caption {
      font-size: 16px;
      margin-left: 15px; }
    /* line 346, main.scss */
    #snackbar .snackbar-header .right-side {
      display: none;
      float: right; }
      /* line 349, main.scss */
      #snackbar .snackbar-header .right-side .mdi {
        font-size: 22px;
        margin-top: 1px; }
      /* line 353, main.scss */
      #snackbar .snackbar-header .right-side .caption {
        font-weight: 500;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 14px; }
  /* line 361, main.scss */
  #snackbar .clear-icon {
    float: right !important;
    margin-left: 10px; }
  /* line 365, main.scss */
  #snackbar p, #snackbar p a, #snackbar .code {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    line-height: 24px;
    background-color: var(--snackbar-body-bg-color); }
  /* line 371, main.scss */
  #snackbar .code {
    color: var(--snackbar-code-text-color);
    border: 0;
    cursor: default;
    display: block;
    outline: none;
    padding: 0;
    height: 24px;
    resize: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden; }
    /* line 383, main.scss */
    #snackbar .code.comment {
      opacity: 0.5; }
  /* line 387, main.scss */
  #snackbar .snackbar-content {
    background-color: var(--snackbar-body-bg-color);
    padding: 8px 24px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: var(--snackbar-content-shadow); }
    /* line 394, main.scss */
    #snackbar .snackbar-content h2, #snackbar .snackbar-content p {
      font-size: 13px;
      line-height: 24px;
      font-family: 'Roboto Mono', monospace; }
    /* line 399, main.scss */
    #snackbar .snackbar-content h2 {
      color: var(--snackbar-title-text-color);
      display: inline-block;
      font-weight: 500;
      margin: 0; }
    /* line 405, main.scss */
    #snackbar .snackbar-content p {
      margin: 0;
      color: var(--snackbar-comment-text-color); }
    /* line 409, main.scss */
    #snackbar .snackbar-content .col {
      margin: 16px 0; }
  /* line 413, main.scss */
  #snackbar .snackbar-header, #snackbar .snackbar-content {
    margin: 0 -20px 0; }

/* line 418, main.scss */
#footer {
  background: var(--footer-bg-color);
  padding: 20px 0;
  min-height: 120px; }

@media (min-width: 500px) {
  /* line 426, main.scss */
  #snackbar .snackbar-content .col {
    margin: 16px 40px 16px 0; }
  /* line 429, main.scss */
  #snackbar .snackbar-header .right-side {
    display: block; } }
@media (min-width: 800px) {
  /* line 436, main.scss */
  .flex {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }

  /* line 444, main.scss */
  .col {
    width: 50%; }

  /* line 447, main.scss */
  .container {
    padding: 0 35px;
    margin: 0 auto; }

  /* line 451, main.scss */
  .snackbar-header, .snackbar-content {
    margin: 0 -10px 0; }

  /* line 454, main.scss */
  #grid-container .grid {
    margin: 20px -30px 0 -15px; } }
@media (min-width: 1240px) {
  /* line 472, main.scss */
  .container {
    width: 1226px; } }
/* line 477, main.scss */
.uppercase {
  text-transform: uppercase; }
